.App {
  margin: auto;
  border-radius: 12px;
  padding: 5px;
  border-top: 10px;
  width: 90%;
  text-align: center;
  background-color: white;

  height: min(200px, 1000px);

  box-shadow: 10px 15px 9px 4px black;
}
