.searchField {
    width: 20%;
    padding: 10px 35px 10px 15px;
    border-radius: 100px;
    outline: none;
}

.searchButton {
    display: inline-block;
    width: auto;
    height: auto;
}

.searchButton > img {
    background: transparent;
    border: transparent;
    border-radius: 50%;
    outline: none;
    margin: 0 0 -5px -60px;
    width: 25px;
    height: 25px;
}

.searchButton:hover {
    transform:
            scale(1.2)
            translateX(5px);
}